/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'GFS Didot', serif;
font-family: 'Oldenburg', cursive;
font-family: 'Stalinist One', cursive;
font-family: 'Unlock', cursive; */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: "Unlock", cursive;
}

::-webkit-scrollbar {
    width: 0;
}

.appContainer {
    display: flex;
    width: 100vw;
    height: 100vh;

    background-image: url("olives1.jpg");
    background-size: cover;
    background-position-y:70%;

}

.appContainerInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.headline {
    margin-top: 4vh;
    font-size: 3vmax;
    text-shadow: -1px 1px 7px rgba(0, 0, 0, 0.363), 1px -1px 7px rgba(0, 0, 0, 0.363), -1px -1px 7px rgba(0, 0, 0, 0.363),
        -1px -1px 7px rgba(0, 0, 0, 0.363);
    font-family: "Unlock", cursive;
}

.mainWindow {
    width: 100vw;
    height: 83vh;

    border: 1px solid rgba(255, 255, 255, 0.089);
    background-color: rgba(255, 255, 255, 0.219);
}

.menu {
    position: fixed;
    right: 2vw;
    top: 2vh;
    background-color: white;
    padding: 1vmax;
    border-radius: 5vh;
    color: black;
}

#menu {
    border-radius: 1vh;
}

#menuToggler {
    color: red;
    cursor: pointer;
}

.menuToggler {
    color: olive;
    cursor: pointer;
}

.menuInner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.language {
    padding: 0.5vmax;
}
